---
import { getCollection, type CollectionEntry } from 'astro:content';
import H1 from '../../components/H1.astro';
import Main from '../../components/Main.astro';
import Layout from '../../layouts/Layout.astro';
import { Image } from 'astro:assets';
import { getEntryBySlug } from 'astro:content';

const { slug } = Astro.params;
const post = await getEntryBySlug('posts', slug as string)

if(!post){ 
	return Astro.redirect('/404')
}
const { Content } = await post.render();
const { data: { author, date } } = post;
const authorText = `Author: ${author}`;
---
<Layout title={post.data.title}>
	<Main>
		<H1 text={post.data.title}/>
		<h3 class="font-bold mb-10">{post.data.date}</h3>
		<h3 class="mb-10">{authorText}</h3>
    <!-- <Image 
      src={post.data.image} 
      width={850}
      height={850 / 1.5}
      alt={post.data.title}
      class="rounded-2xl shadow-xl md-4 aspect-thumbnail object-cover"
    /> -->
    <div class="prose prose overflow-visible relative pb-40">
      <Content />
    </div>
	</Main>
</Layout>
